<div class="job">
<h1><%= organisation.name %></h1>
    <p><%= organisation.sector %></p>
    <p><%= organisation.description %></p>
    <p><%= organisation.culture %></p>
  </div>
<% end %>
<p><%= link_to "Jobs", job_path %></p>