<h1> <%= current_user.name %> <%= current_user.surname %> </h1>

<div>
    <p>Description</p>
    <p class="text-user-profile"><%= current_user.description %></p>
</div>

<div>
    <p>Experience</p>
    <p class="text-user-profile"><%= current_user.experience %></p>
</div>

<div>
    <p>Education</p>
    <p class="text-user-profile"><%= current_user.education %></p>
</div>

<div>
    <p>Skills</p>
    <p class="text-user-profile"><%= current_user.skills %></p>
</div>

<div class="footer-links">
    <a href="#"><i class="fab fa-linkedin"></i></a>
</div>